# Git and IDE files
.git
.gitignore
.github
.idea
*.iml

# Android Project - This is a huge folder we don't need
android_app/

# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Project management and documentation
pyproject.toml
CHANGELOG.md
README.md

# This Dockerfile itself
Dockerfile
docker-compose.yml

# Any other sensitive files
.env
*.pem
